<!DOCTYPE HTML>

<html>
<head>
    <title>Ква...</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">


        <article id="Painsmith">
            <h2 class="major"></h2>
            <link rel="stylesheet" href="./Спасибо!) - MyGuild_files/bootstrap.min.css">
            <link rel="stylesheet" href="./Спасибо!) - MyGuild_files/site.css">

            <h1> <p style="color:#2fedd7 ">Що нового? (на украинском)</p></h1>
            <p>
                • Игроки с "Цепями" ТАКЖЕ вызывают шипы в форме креста(при броске танк.молота)<br>
                • Во время "переходки" будут шары(через одну клетку), катящиеся из одной стороны комнаты в другую. <br>
                (Они перпендикулярны набегающим на вас волнам Шипов) <br>
                • Во время "переходки" - 9 волн, спролошные шипы на 5 <br>
                • После перехода будут адды, которые кастят 12 секундный каст, который нельзя прервать. <br>
                (Небходимо убить всех аддов до завершения каста, а будет то gege. <br>
            </p>


            <p align="center" style="color:#2fedd7"> Сетапчик: 2 танка, 4 хила, 14 Дпс </p>
            <span class="image main"><img src="https://complexity.gg/wp-content/uploads/2021/07/painsmith-markers-1024x576.png" alt=""></span>

            <p style="color: #f5f50a">
                Желтый
                <text style="color: #f58f0a">
                    Оранжевый
                    <text style="color: #5c07f0">
                        Пурпурный
                        <text style="color: #ffffff">
                            - это места, где должны стоять игроки с <b> "Цепями" </b>, когда босс бросает свое оружие в танка. *(DBM/BigWigs должны пометить игроков)
                            <span class="image main"><img src="/images/chain-spike.gif" alt=""></span>


                            <p align="center" style="color:#2fedd7">[Фаза 1] - 100% -70% </p>
                            <p>
                                Рекомендуется: держать босса в нижнем левом уголу платформы.<br>
                                Танк выносит молот/топор в верхний правый угол.<br>
                            <p style="color: #f5f50a">
                                !
                                <text style="color: #f58f0a">
                                    !
                                    <text style="color: #5c07f0">
                                        !
                                        <text style="color: #ffffff">
                                            Сразу после броска появятся шары.
                                            Они могут появиться прямо в углу в котором мы находимся, если это произойдет - фокусим ближайший к краю шар, убиваем его как можно скорее и пробегаем<br>
                                            Бросаем ловушки вдоль края платформы (возле рейда, как на гифке снизу).<br>
                                            Спавн шаров ~1:42 (нам нужно сделать перевод до этого времени или же после шаров)
                                            <span class="image main"><img src="/images/traps.gif" alt=""></span>
                            </p>




                            <p align="center" style="color:#2fedd7"> Переход0чка </p>
                            "Порт" чернокнижника как на скрине<br>
                            <span class="image main"><img src="https://complexity.gg/wp-content/uploads/2021/07/plan-1-1-1024x576.png" alt=""></span>
            </p>

            <p>
                На переходке у нас будет два сета шаров, по одному с каждой стороны, перпендикулярно шипам.<br>
                • 1 Сет - между волнами 1-2  <br>
                • 2 Сет - между волнами 5-6
                <span class="image main"><img src="/images/ball-run.gif" alt=""></span>
            </p>

            <p>
                Волна 5 - Сплошная. (*после фикса - больше сплошных не будет) <br>
                Используем: Блинки/Имунны/Ковенант.абилки/порталы/2х прыжки дх/гоблинскую рассовую и т.д.
                <span class="image main"><img src="/images/wave-5.gif" alt=""></span>
            </p>

            <p>
                Волна 8 - портал Лока <br>
                Подождите, пока появится 9 волна и начнет двигаться, тогда мы все юзаем "Врата" одновременно.<br>
                (Так мы скипаем сразу 2х волны)<br>
                Когда мы прилетим, все адды появятся в этом месте, аккуратно и сгруппированно для нас. (+Босс прыгнет в аддов)<br>
                <span class="image main"><img src="/images/gate-to-adds.gif" alt=""></span>
            </p>


            <p align="center" style="color:#2fedd7"> [Фазы 2 и 3] - 70% - 0% </p>
            <p>
                Это просто повторение фазы 1, но с добавлением доп. линии шипов от броска оружия.<br>
                Рекомендуется в качестве основы, чтобы рейд был сгруппирован в верхнем левом углу, а танк направлял бросок оружия в нижний правый угол.<br>
                Однако вам может потребоваться корректировка из-за шаров, заставляя рейд перемещаться вниз в нижний левый угол, а танк - в верхний правый угол.<br>
                Bloodlust  - в начале 3х фазы, используем AoE для аддов, а затем взрываем босса<br>
                * В фазах 2 и 3 броски оружия действительно наносят значительный урон рейду (нам pizdec)<br>
            </p>


            <p><a href="https://boloto.fun/"> ← Вернуться назад</a></p>


        </article>


    </div>
    <!-- Footer -->
    <footer id="footer">
    </footer>

    <!-- BG -->
    <div id="bg"></div>


    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
    <script>autocomplete(document.getElementById("myInput"), countries);</script>

</body>
</html>




@*
    <script>
        // When the user clicks on <div>, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }</script>
*@