<!DOCTYPE HTML>

<html>
<head>
    <title>Ква...</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">


        <article id="Confirmation">
      
            <h2 class="major"></h2>
            <link rel="stylesheet" href="./Спасибо!) - MyGuild_files/bootstrap.min.css">
            <link rel="stylesheet" href="./Спасибо!) - MyGuild_files/site.css">

            <h1>  Спасибо!) <p style="color:#4cff00">Ваша заявка принята!</p> <br></h1>
            <h3> Мы свяжемся с вами в ближайшее время</h3>
            <h3> Заходи к нам в дискорд :) -> <a href="https://discord.gg/8bCveNxEMK" target="_blank">Click</a> <br> </h3>

            <p><a href="/home">Вернуться назад</a></p>


        </article>


    </div>
    <!-- Footer -->
    <footer id="footer">
    </footer>
  
    <!-- BG -->
    <div id="bg"></div>


    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
    <script>autocomplete(document.getElementById("myInput"), countries);</script>

</body>
</html>




@*
    <script>
        // When the user clicks on <div>, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }</script>
*@