@model MyGuild.Models.User
@{
    ViewBag.Title = "Добавление пользователя";
}
<form asp-action="create" asp-controller="home">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Server" class="control-label">Сервер</label>
        <input type="text" asp-for="Server" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Specialization" class="control-label">Класс/Специализация</label>
        <input type="text" asp-for="Specialization" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Logs" class="control-label">Ссылка на логи</label>
        <input type="text" asp-for="Logs" class="form-control" />
    </div>
   
    <div class="form-group">    
        <label asp-for="Additionalinfo" class="control-label">Доп. Инфа</label>
        <input type="text" asp-for="Additionalinfo" class="form-control" />
    </div>

        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
</form>