<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9bc1d66a-8b00-4372-a12d-3abcdffaee29/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/WebApplication1-TEST</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapplication1-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>45f8f779-f19c-44d9-a4af-10253810175c</ProjectGuid>
    <PublishUrl>https://webapplication1-test.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WebApplication1-TEST</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>